.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.homelink {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: green;
    background-color: lightblue;
    border: 1px solid tan;
    border-radius: 3px;
}



